body {
  margin: 20px;
  font-size: 12px;
}

h1 {
  text-align: center;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.square {
  background: #EEEEEE;
  border-color: #999999;
  border-width: 1px;
  border-style: solid;
  float: left;
  font-size: 38px;
  font-weight: bold;
  line-height: 76px;
  height: 76px;
  width: 76px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0px;
  text-align: center;
}
.square:hover {
  background: #FFFFFF;
  cursor: pointer;
}

.game-parent {
  border: 1px solid #000000;
  padding: 0px 20px 20px 20px;
  display: inline-block;
}
.game-alert {
  margin: 20px 0px 20px 0px;
  border: 1px solid #999999;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  display: none;
  opacity: 0;
}
.game-container {
  display: flex;
  flex-direction: row;
}
.game-buttons {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.game-left {
  margin-right: 20px;
}
.game-right {
  margin-left: 20px;
}
.game-bottom {
  margin-top: 10px;
}

.table-game {
  width: 100px;
  border: 1px solid #555555;
  border-collapse: collapse;
}
.table-game > th, td {
  border-top: 1px solid #999999;
}

.table-wins {
  margin-top: 20px;
  width: 100px;
  border: 1px solid #555555;
  border-collapse: collapse;
}
.table-wins > th, td {
  border-top: 1px solid #999999;
}

.button-game {
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding: 10px 6px;
  border-width: 1px;
  border-style: solid;
  border-color: #7a7a7a;
  border-radius: 4px;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  width: 120px;
  font-size: 12px;
  font-weight: bold;
  color: #161616;
  background-color: #CCCCCC;
}
.button-game:hover{
  border-color: #8f8f8f;
}
.button-game:active{
  background-color: #999999;
}

.button-new {
  margin-top: 0px;
}

.button-reset {
  margin-top: 10px;
}

.button-test {
  margin-top: 10px;
}
